$black: black;
$white: white;
$light-border: lightgrey;

// red
$error: #f01a0b;
$error-bg: #fcd1d1;

// green
$success: #00AB66;
$success-bg: rgb(183, 249, 222);

// blue
$info: #049fd3;
$info-bg: #f8fdff;

// orange
$warning: #ff8800;
$warning-bg: #f8e8d6;

// grey
$disabled: #888888;
$disabled-bg: #eeeeee;
